body { 
    background-color: #F9F9F9;
    font-family: "DM Sans Bold";
    font-weight: bold;
    font-size: 23px;
    color: #364764;
    .container13 {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        #firstP {
            padding: 45px 0 20px 20px;
        } 
    }
}