.navBarBottomContainer {
  width: 100%;
  height: 99px;
  position: relative;
  .buttonAppointment {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcf347;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -31px;
    border: 5px solid #364764;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
  .navBarBottom {
    width: 100%;
    height: 64px;
    background-color: #364764;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    text-decoration: none;
    .navBarBottomButtons {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2px;
      font-size: 10px;
      a {
        text-decoration: none;
      }
      .navBarBottomButtonsActive {
        min-width: 44px;
        height: 44px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
        color: #ffffff;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        &.active {
          background-color: #fcf347;
          color: #364764;
        }
      }
    }
  }
}
