.PopUpContainer {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: rgba(54, 71, 100, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  .PopUp {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 20px;
    background-color: #f9f9f9;
    width: calc(100vw - 50px);
    height: max-content;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 5px 20px #000;
    .PopUpCloser {
      position: absolute;
      right: -15px;
      top: -15px;
      background-color: #fcf347;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    .PopUpTitle{
      width: 100%;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
    form{
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      flex-direction: column;
      gap: 20px;
      .formAppointRow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .formAppointInput{
          flex-grow: 1;
          .input-form-style{
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
          label{
            font-size: 12px;
          }
          textarea{
            height: 100px;
            resize: none;
          }
        }
      }
    }


  }
}
