.SkillComponent {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .SkillSVG {
        display: flex;
        padding: 5px;
        max-height: 10%;

        .TitleSVG {
            font-size: 10px;
            font-weight: 700;
            color: black;
            padding: 50px 20px 10px 10px;
        }

        .svg {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 10px;
        }
    }
}