.SkillComponent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px 10px;
    justify-content: space-between;


    .ButtonSVG {
        -webkit-box-shadow: 5px 5px 10px 0px #000000;
        -moz-box-shadow: 5px 5px 10px 0px #000000;
        -o-box-shadow: 5px 5px 10px 0px #000000;
        box-shadow: 5px 5px 10px 0px #000000;
    }

    .SkillSVG {
        display: flex;
        max-height: 10%;


        .TitleSVG {
            font-size: 10px;
            font-weight: 700;
            color: black;
            padding: 50px 20px 5px 5px;
        }

        .svg {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 10px;
        }
    }
}