body{
    background-color: lightgray;
  }
.title-style{
    padding:0.8em 0em;
    font-weight: 600;
  }
  .option-container{
    display: flex;
    flex-direction: row;
    gap:5%;
  }
  .option{
    border-radius:0.5em;
    -webkit-border-radius:0.5em;
    -moz-border-radius:0.5em;
    -ms-border-radius:0.5em;
    -o-border-radius:0.5em;
    width: fit-content;
    height: auto;
    padding:1em;
    cursor:pointer;
    border-color:transparent
  }
  .input{
    height:3em;
    outline: none;
    border-color:transparent;
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
  }
  .phone-container{
    display: flex;
    flex-direction: row;
  }