.CardContainer {
  width: 100%;
  height: calc(100% - 116px);
  position: relative;
}
.CardContainer .Card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #ffffff;
  color: #364764;
}
.CardContainer .Card .CardRelative {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.CardContainer .Card .CardProfilePicture {
  height: 50%;
  width: 100%;
  background-size: cover;
  align-self: flex-start;
  position: absolute;
  top: 0;
}
.CardContainer .Card .CardProfileDescriptionContainer {
  height: 55%;
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 20px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  bottom: 0;
  background-color: #F9FBFF;
  border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -ms-border-radius: 20px 20px 0px 0px;
  -o-border-radius: 20px 20px 0px 0px;
  transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -o-transform: translateY(0) !important;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}
.CardContainer .Card .CardProfileDescriptionContainer .descriptionHandler {
  width: 50%;
  height: 5px;
  background-color: #e8e8e8;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.CardContainer .Card .CardProfileDescriptionContainer .CardDescriptionNameContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CardContainer .Card .CardProfileDescriptionContainer .CardDescriptionNameContainer .CardName {
  font-size: 26px;
  font-weight: bold;
}
.CardContainer .Card .CardProfileDescriptionContainer .CardDescriptionNameContainer .AvailableForTag {
  background-color: #FCF347;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.CardContainer .Card .CardProfileDescriptionContainer .CardDescriptionProfessionContainer {
  width: 100%;
}
.CardContainer .Card .CardProfileDescriptionContainer .CardDescriptionSkillsContainer, .CardContainer .Card .CardProfileDescriptionContainer .LanguageContainer, .CardContainer .Card .CardProfileDescriptionContainer .ExperiencesContainer, .CardContainer .Card .CardProfileDescriptionContainer .LinksContainer, .CardContainer .Card .CardProfileDescriptionContainer .CvContainer {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0px;
}
.CardContainer .Card .CardProfileDescriptionContainer .SkillsCards, .CardContainer .Card .CardProfileDescriptionContainer .LanguageCards {
  padding: 10px 20px;
  font-size: 12px;
  background-color: #EFF0F2;
  color: #364764;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.CardContainer .Card .CardProfileDescriptionContainer .CardDescriptionBio {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
}
.CardContainer .Card .CardProfileDescriptionContainer .CardDescriptionTitle {
  padding: 10px 0;
  font-size: 12px;
  display: none;
  color: #364764;
  font-family: "DM Sans Medium";
}
.CardContainer .Card .CardProfileDescriptionContainer .CardDescriptionCamp {
  display: none;
  flex-direction: column;
}
.CardContainer .Card .CardProfileDescriptionContainer.open {
  height: 90%;
  top: 40%;
  overflow: auto;
  transform: translateY(-200px) !important;
  -webkit-transform: translateY(-200px) !important;
  -moz-transform: translateY(-200px) !important;
  -ms-transform: translateY(-200px) !important;
  -o-transform: translateY(-200px) !important;
}
.CardContainer .Card .CardProfileDescriptionContainer.open .CardDescriptionBio, .CardContainer .Card .CardProfileDescriptionContainer.open .CardDescriptionCamp {
  border-bottom: 1px solid #EFF0F2;
  padding-bottom: 20px;
}
.CardContainer .Card .CardProfileDescriptionContainer.open .CardDescriptionBio {
  display: block;
  -webkit-line-clamp: 0;
  -webkit-box-orient: none;
  overflow: visible;
}
.CardContainer .Card .CardProfileDescriptionContainer.open .CardDescriptionTitle {
  display: block;
}
.CardContainer .Card .CardProfileDescriptionContainer.open .CardDescriptionCamp {
  display: block;
}
.CardContainer .Card .CardProfileDescriptionContainer.open .CardDescriptionCamp .LanguageContainer, .CardContainer .Card .CardProfileDescriptionContainer.open .CardDescriptionCamp .ExperiencesContainer, .CardContainer .Card .CardProfileDescriptionContainer.open .CardDescriptionCamp .LinksContainer, .CardContainer .Card .CardProfileDescriptionContainer.open .CardDescriptionCamp .CvContainer {
  padding: 0;
}
.CardContainer .Card .CardProfileDescriptionContainer.open .CardDescriptionCamp .LanguageContainer a, .CardContainer .Card .CardProfileDescriptionContainer.open .CardDescriptionCamp .ExperiencesContainer a, .CardContainer .Card .CardProfileDescriptionContainer.open .CardDescriptionCamp .LinksContainer a, .CardContainer .Card .CardProfileDescriptionContainer.open .CardDescriptionCamp .CvContainer a {
  text-decoration: none;
  color: #364764;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.DescriptionGradientEffect {
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #FFFFFF 100%);
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: -10px;
}

/*# sourceMappingURL=Card.css.map */
