.skillsPageContainer {
  width: 100%;
  height: calc(100vh - 50px);
  min-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 40px 0px;
  gap: 10px;
  color: #364764;
}
.skillsPageContainer .skillsContainer,
.skillsPageContainer .lavoroContainer {
  height: 50%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.skillsPageContainer .skillsContainer h3,
.skillsPageContainer .lavoroContainer h3 {
  padding: 0 20px;
}
.skillsPageContainer .skillsContainer input,
.skillsPageContainer .lavoroContainer input {
  width: calc(100% - 40px);
  margin: 0px 20px;
}
.skillsPageContainer input[type=search] {
  border: none;
  min-height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 40px;
  background: url("../../assets/svg/iconSearch.svg") no-repeat scroll 7px 7px;
  background-color: #ffffff;
}
.skillsPageContainer .skillList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px 20px;
}
.skillsPageContainer .skillList .skillRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.skillsPageContainer .skillList .skillRow .skill {
  display: flex;
  width: calc(100% - 34px);
  justify-content: flex-start;
  align-items: stretch;
  font-size: 14px;
  background-color: #f0eff1;
  padding: 10px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.skillsPageContainer .skillList .skillRow .skill span {
  flex-grow: 2;
}
.skillsPageContainer .skillList .skillRow .skill .selectYears {
  background: none;
  border: none;
  font-size: 10px;
}
.skillsPageContainer .skillList .skillRow .skillRemove {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url("../../assets/svg/trashcan.svg") no-repeat scroll;
  background-position: center;
  background-size: 40%;
  background-color: #fcf347;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.skillsPageContainer .comuniList {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 20px;
  overflow: scroll;
  overflow-x: hidden;
}
.skillsPageContainer .comuniList .comuniRow {
  position: relative;
}
.skillsPageContainer .comuniList .comuniRow .comuni {
  display: flex;
  width: max-content;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 14px;
  background-color: #f0eff1;
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.skillsPageContainer .comuniList .comuniRow .comuni span {
  flex-grow: 2;
}
.skillsPageContainer .comuniList .comuniRow .comuniRemove {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  bottom: 0;
  right: 0px;
  cursor: pointer;
  background: url("../../assets/svg/xRemove.svg") no-repeat scroll;
  background-position: center;
  background-size: 40%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.skillsPageContainer .dropdown-wrapper-search {
  position: relative;
  z-index: 2;
}
.skillsPageContainer .dropdown-wrapper-search .dropdown-list-search {
  position: absolute;
  width: calc(100% - 40px);
  left: 20px;
  right: 20px;
  background: #fff;
  max-height: 200px;
  overflow: auto;
  padding: 10px;
}
.skillsPageContainer .dropdown-wrapper-search .dropdown-list-search ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.skillsPageContainer .dropdown-wrapper-search .dropdown-list-search ul li {
  list-style: none;
}

/*# sourceMappingURL=skills.css.map */
