
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DM Sans Regular";
  text-decoration: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
